*{
	margin: 0px;
	padding: 0px;
	font-family: Arial,sans-serif;
}
body, html{
	height:100%;
}

body{
	text-align:center;	
}

footer{
	background:red;
	position:absolute;
	
	width:100%;
	padding-top:50px;
	height:50px;
}
p {
	background: black;
	color: white;
	text-align: center;

}

.glitch{
	text-shadow: 4px 4px 5px red;
}

nav{
	width: 100%;
	margin:0 auto;
	position: sticky;
	top:0px;
	background-color: red;
}
nav a{
	display: block;
	text-decoration: none;
	color:black;
	border-bottom:2px solid transparent;
	padding: 10px 0px;
}

nav a:hover{
	color:white;
	border-bottom: 2px solid black;
}
nav ul{
	list-style-type: none;
}

nav li{
	float:left;
	width:25%;
	text-align: center;
}
nav ul li {
	float:left;
	width:25%;
	text-align: center;
	position:relative;
}
 nav ul::after{
 	content: "";
 	display: table;
 	clear: both;
 }
 nav > ul li:hover .sous{
 	display:block;
 }
 .sous{
 	display: none;
 	box-shadow: 0px 1px 2px #CCC;
 	background-color: white;
 	position: absolute;
 	width: 100%;
 	z-index:1000;
 }
.sous li{
	float: none;
	width: 100%;
	text-align: left;
}
.sous a{
	padding:10px;
	border-bottom: none;
}
.sous a:hover{
	border-bottom: none;
	background-color: rgba(0,0,200,0.1);
}
.deroulant>a::after{
	content: "▼";
	font-size: 12px;
}
<<<<<<< Updated upstream

.moto125{
	display:block;
	border-bottom: 2px solid rgba(0,0,0,.1);
	height: 100%;
	margin: auto; 	}

.global{
	width:100%;
	display: inline-flex;
}
.gauche{
	float:left;
	width: 33%;
	border-right: 2px solid rgba(0,0,0,.1);
}
.droite{
	float: right;
	width:100%;
}
.image{
	height: 33vh;
	border-bottom: 2px solid black;
	
}
.paramoto{
	height: 33vh;
	border-bottom: 2px solid black;
}
=======
>>>>>>> Stashed changes
